@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --lynx-white: #f7f9f7;
  --cadet: #5e747f;
  --light-pink: #FBB7C0;
  --amaranth-purple: #B6244F;
  --rich-black: #061826;
}

body {
  margin: 0;
  font-family: "Roboto";
  background-color: var(--lynx-white);
  color: var(--rich-black);
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--light-pink)
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  font-size: 20px;
  color: var(--rich-black);
  font-weight: lighter;
}

main {
  text-align: center;
  margin: auto;
  padding: 40px 0px;
}

footer {
  background-color: var(--light-pink);
  padding: 20px 50px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 20px;
}

footer > div {
  margin-top: 10px
}

footer a {
  text-decoration: none;
}

footer a small {
  color: var(--cadet);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  width: min-content;
  gap: 3px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-width: 100px;
}

.calculator {
  background-color: var(--rich-black);
  padding: 20px;
  border-radius: 5px;
}

.display {
  grid-column: span 4;
  background-color: var(--lynx-white);
  margin-bottom: 10px;
  border: 10px solid var(--cadet);
  padding: 8px;
  text-align: right;
  font-size: 50px;
}

button {
  border-radius: 5px;
  box-shadow: none;
  border: none;
  color: var(--rich-black);
}

button:hover {
  opacity: 80%;
  transition: 0.5s;
  cursor: pointer;
}

.operand, .decimal, .equals {
  background-color: var(--cadet);
}

.clear, .sign, .percent, .backspace {
  background-color: var(--light-pink);
  
}

.operator {
  background-color: var(--amaranth-purple);
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: min-content;
    gap: 3px;
  }
  
  .grid-item {
    padding: 15px;
    font-size: 20px;
    min-width: 70px;
  }

  .calculator {
    padding: 10px;
    border-radius: 5px;
  }
  
  .display {
    font-size: 40px;
    padding: 6px;
    text-align: right;
  }

  header, footer {
    padding: 20px;
  }
}